body {
    --font-default: "LXGW WenKai Screen R", sans-serif;
    --font-monospace-default: Menlo, SFMono-Regular, Consolas, "Roboto Mono", "Source Code Pro", "LXGW WenKai Screen R", monospace;
    --line-height-normal: 1.9;
    --line-height-tight: 1.6;
}