body {
    --font-default: "jinkaiFont", sans-serif;
    --font-monospace-default: Menlo, SFMono-Regular, Consolas, "Roboto Mono", "Source Code Pro", "jinkaiFont", monospace;
    --line-height-normal: 1.9;
    --line-height-tight: 1.6;
}