<link rel="stylesheet" href="https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/style.css" />

<script>
    const darkMode = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)'); 
    document.addEventListener("DOMContentLoaded", function() {
        // 判断是否匹配深色模式 
        if (darkMode && darkMode.matches) { 
            document.body.classList.add('theme-dark');
            document.body.classList.remove('theme-light'); 
        } else {
            document.body.classList.add('theme-light');
            document.body.classList.remove('theme-dark'); 
        }
    }); 
    // 监听主题切换事件 
    darkMode && darkMode.addEventListener('change', e => { 
        if (e.matches) { 
            document.body.classList.add('theme-dark');
            document.body.classList.remove('theme-light'); 
        } else { 
            document.body.classList.add('theme-light'); 
            document.body.classList.remove('theme-dark'); 
        } 
    });
    // 调整 Dataview 表格
    if (document.title === "⭐总览") {
        var contentElement = document.querySelector(".content");
        if (contentElement) {
            contentElement.style.maxWidth = "1000px";
        }
    }
</script>