<hr class="content">
<div class="content" id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>

<hr class="content">
<div class="content" id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>
    <script type="module">
        import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
        init({
            el: '#waline',
            serverURL: 'https://waline.xryu.top',
            emoji: [
                '//unpkg.com/@waline/emojis@1.2.0/weibo',
                '//unpkg.com/@waline/emojis@1.2.0/bmoji',
            ],
            reaction: true,
            dark: 'auto',
        });
    </script>
<hr>

<div class="content" align="center">
    <div id="jinrishici-sentence" class="content" style="color: #778899; font-size: 24px; font-family: KaiTi, 'LXGW WenKai Screen';">正在加载今日诗词....</div>
    <br>
    <span id="poem_info" style="font-size:17px; color: #778899; font-family: KaiTi, 'LXGW WenKai Screen';"></span>
    <script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
    <script type="text/javascript">
        jinrishici.load(function(result) {
            var sentence = document.querySelector("#jinrishici-sentence")
            var info = document.querySelector("#poem_info")
            sentence.innerHTML = result.data.content
            info.innerHTML = '【' + result.data.origin.dynasty + '】' + result.data.origin.author + '《' + result.data.origin.title + '》'
        });
        // 调整 Dataview 表格
        if (document.title === "⭐总览") {
            var contentElement = document.querySelector(".content");
            if (contentElement) {
                contentElement.style.maxWidth = "1000px";
            }
            contentElement = document.querySelector(".dataview");
            if (contentElement) {
                var cells = contentElement.querySelectorAll('td, th');
                cells.forEach(function(cell) {
                    cell.style.textAlign = 'center'; // 设置文字水平居中
                    cell.style.verticalAlign = 'middle'; // 设置文字垂直居中
                });
                var firstColumnCells = contentElement.querySelectorAll('td:first-child, th:first-child');
                var firstColumnWidth = '22%';
                for (var i = 0; i < firstColumnCells.length; i++) {
                    firstColumnCells[i].style.width = firstColumnWidth;
                    firstColumnCells[i].style.maxWidth = firstColumnWidth; // 设置最大宽度
                }
            }
            contentElement = document.querySelector("#wordCount");
            if (contentElement) {
                contentElement.style.display = "none";
            }
        }
    </script>
    <hr>
    <span class="content">2022–2023 XRYU</span>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
</div>