<hr class="content">
<div class="content" id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>

<hr class="content">
<div class="content" id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css"/>
    <script type="module">
        import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';
        init({
            el: '#waline',
            serverURL: 'https://waline.xryu.top',
            emoji: [
                '//unpkg.com/@waline/emojis@1.2.0/weibo',
                '//unpkg.com/@waline/emojis@1.2.0/bmoji',
            ],
            reaction: true,
            dark: 'auto',
        });
    </script>
<hr>

<div class="content" align="center">
    <div id="jinrishici-sentence" class="content" style="color: #778899; font-size: 24px; font-family: KaiTi, 'LXGW WenKai Screen';">正在加载今日诗词....</div>
    <br>
    <span id="poem_info" style="font-size:17px; color: #778899; font-family: KaiTi, 'LXGW WenKai Screen';"></span>
    <script type="text/javascript">
        var xhr = new XMLHttpRequest();
        xhr.open('get', 'https://v1.jinrishici.com/all.json');
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                var data = JSON.parse(xhr.responseText);
                var sentence = document.querySelector("#jinrishici-sentence")
                sentence.innerText = data.content;
                var info = document.querySelector("#poem_info")
                info.innerText = data.author + '《' + data.origin + '》'
            }
        };
        xhr.send();
        // 调整 Dataview 表格
        if (document.title === "⭐总览") {
            var contentElement = document.querySelector(".content");
            if (contentElement) {
                contentElement.style.maxWidth = "1000px";
                contentElement.classList.add("cards");
            }
            contentElement = document.querySelector(".dataview");
            if (contentElement) {
                var cells = contentElement.querySelectorAll('td, th');
                cells.forEach(function(cell) {
                    cell.style.textAlign = 'center'; // 设置文字水平居中
                    cell.style.verticalAlign = 'middle'; // 设置文字垂直居中
                });
                document.querySelector(".table-wrapper").style.overflowX = "hidden";
                var firstColumnCells = contentElement.querySelectorAll('.external-link');
                for (var i = 0; i < firstColumnCells.length; i++) {
                    firstColumnCells[i].classList.remove("external-link");
                }
            }
            contentElement = document.querySelector("#wordCount");
            if (contentElement) {
                contentElement.style.display = "none";
            }
            contentElement = document.querySelector(".table-view-thead");
            if (contentElement) {
                contentElement.style.display = "none";
            }
            contentElement = document.querySelectorAll("img");
            if (contentElement) {
                contentElement.forEach(function(img) {
                    img.style.padding = '0';
                });
            }
            contentElement = document.querySelectorAll(".tag");
            if (contentElement) {
                contentElement.forEach(function(tag) {
                    tag.style.backgroundColor = 'none';
                });
            }
        }
        // 无评论时显示随机内容
        var start = setInterval(function(){
            var emptyElement = document.querySelector(".wl-empty");
            if (emptyElement) {
                fetch('https://v1.hitokoto.cn?c=d&c=h&c=i&c=k')
                .then(response => response.json())
                .then(data => {
                    emptyElement.innerText = data.hitokoto
                    clearInterval(start)
                    var switchOne = setInterval(function(){
                        emptyElement = document.querySelector(".wl-empty");
                        var comments = document.querySelector(".wl-card-item");
                        if (emptyElement) {
                            fetch('https://v1.hitokoto.cn?c=d&c=h&c=i&c=k')
                            .then(response => response.json())
                            .then(data => {
                                emptyElement.innerText = data.hitokoto
                            })
                            .catch(console.error)
                        }
                        else if(!comments) {
                            clearInterval(switchOne);
                        }
                    }, 5000)
                })
                .catch(console.error)
            }
        }, 1500);
    </script>
    <hr>
    <span class="content">2022–2023 XRYU</span>
    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    <div style="display: none;">
        <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span>
    </div>
</div>